$black: #202125;
$green: #5bcb02;
$grey1: #f8f8f8;
$grey2: #eeeeee;
$grey2-500: #eeeeee78; // = $grey2 with an opacity of 0.5.
$grey3: #a1a1a4;
$grey3-500: #a1a1a48c; // = $grey3 with an opacity of 0.5.
$white: #ffffff;
