@import "./styles/dimensions";

.app-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: $lg-gutter-size auto;

  .something-extra {
    margin-top: 4rem;
  }

  .select-search {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .app-container {
    width: 300px;
    margin: $md-gutter-size auto;
  }
}

@media screen and (max-width: 320px) {
  .app-container {
    width: 280px;
    margin: $sm-gutter-size auto;
  }
}
