@import-normalize;
@import "./styles/colors";
@import "./styles/fonts";

body {
  background: $grey2;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: $regular-font-size;
}

.bold-large {
  font-size: 30px;
  font-weight: 700;
}

.bold-small {
  font-size: 18px;
  font-weight: 700;
}

@media screen and (max-width: 400px) {
  .bold-large {
    font-size: 26px;
  }
}
